
<header>
  Glimmer.js Tic-Tac-Toe
</header>

<h1>
  {{#if board.hasWin}}
    {{board.winningPlayer}} is the WINNER
  {{else}}
    It's {{board.nextPlayer}}'s turn
  {{/if}}
</h1>

<div class="board">
  {{#each board.cellValues key="@index" as |cellValue index|}}
    <game-cell
      @value={{cellValue}}
      @board={{board}}
      @index={{index}}
      @onClick={{action chooseCell}}
    />
  {{/each}}
</div>

<button onclick={{action newGame}}>New Game</button>

<hr />
availableCellIndexes: {{board.availableCellIndexes}}
